@font-face {
    font-family: 'WorkSans';
    font-weight: 400;
    src: url("../fonts/Work_Sans/WorkSans-Regular.ttf");
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 500;
    src: url("../fonts/Work_Sans/WorkSans-Medium.ttf");
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 600;
    src: url("../fonts/Work_Sans/WorkSans-SemiBold.ttf");
}

@font-face {
    font-family: 'WorkSans';
    font-weight: 700;
    src: url("../fonts/Work_Sans/WorkSans-Bold.ttf");
}



