body {
    font-family: "WorkSans";
    color: white;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1280px;
    color: white;
    margin: 0 auto;
}

.intro_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__logo {
    height: 32px;
    width: 36px;
}
.header__inner {
    display: flex;
    justify-content: flex-end;
}

.nav {
    color: white;
    font-size: 24px;
}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #fff;
    padding-top: 9px;
}
.nav__link:hover {
    color: #5e5e5e;
    transition: color 0.4s ease-in-out;
}

.intro {
    width: 100%;
    height: 140vh;
    background-image: linear-gradient(to bottom,  transparent 75%, white), url("../images/png/backround_image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.topic {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.topic__title {
    font-size: 82px;
    margin-bottom: 20px;
    font-weight: 700;
}

.topic__subtitle {
    font-size: 24px;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}
.search {
    width: 463px;
    height: 71px;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.search_position {
    /*transform: translate(140%, -480%);*/
}

.search__input {
    width: 85%;
    padding-left: 30px;
    color: white;
}

.search__input::placeholder {
    color: white;
    font-size: 20px;
}
.search__button {
    /*position: absolute;*/
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.price-bubble {
    --speechBubbleWidth: 205px;
    --speechBubbleWasherCircleWidth: 54px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price-bubble_position {
    align-items: flex-end;
    transform: translate(10%, -20%);
}


.price-bubble__window {
    position: relative;
    width: var(--speechBubbleWidth);
    height: auto;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid #EAEAEA;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 12px 0px 12px 20px;
    gap: 10px;
}

.price-bubble__text {
    font-weight: bold;
    font-size: 32px;
}
.price-bubble__subtext {
    margin-top: 12px;
    font-weight: bold;
    font-size: 16px;
}

/*.speech-bubble::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    bottom: -8px; !* Размер угла *!*/
/*    left: 50%;*/
/*    margin-left: -9px; !* Ширина угла *!*/
/*    border-width: 8px 8px 0 8px;*/
/*    border-style: solid;*/
/*    border-color: #ffffff transparent transparent transparent;*/
/*    background-color: rgb(255, 255, 255, 0.3);*/
/*    border-radius: 24px;*/
/*}*/

.price-bubble__washer {
    width: var(--speechBubbleWidth);
    padding-left:  calc((var(--speechBubbleWidth) - var(--speechBubbleWasherCircleWidth)) / 2);;
}

.price-bubble__circle {
    width: var(--speechBubbleWasherCircleWidth);
    height: var(--speechBubbleWasherCircleWidth);
    border: 1px solid #EAEAEA;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 50%;

    position: relative;
    display: inline-block;
}


.price-bubble__hole {
    width: 16px;
    height: 16px;
    margin: auto;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.price-bubble__washer__hole_background {
    width: 100%;
    height: 100%;
}

.price-bubble__washer__hole_position {
    position: absolute;
}



.speech-bubble {
    position: relative;
    display: inline-block;
}

.speech-bubble_position {
    transform: translate(-70%, 20%);
}

.speech-bubble__window {
    width: 304px;
    height: auto;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid #EAEAEA;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 20px 17px 18px 25px;
}

.speech-bubble__title {
    font-weight: 600;
    font-size: 24px;
}
.speech-bubble__subtitle {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    color: rgb(255, 255, 255, 0.7);
}

.speech-bubble__icon {
    font-size: 16px;
    color: #DCB47A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 19px;
}

.speech-bubble__icon::before {
    content: url("../images/svg/star_icon.svg");
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px;
}

.speech-bubble__washer {
    width: 62px;
    position: absolute;
    top: -20px;
    right: -10px;
    z-index: 1;
}

.feature-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 20px;
    gap: 10px;
    color: black;
}

.speech-bubble__text {
    margin-top: 17px;
    font-size: 16px;
    line-height: 1.7em;
}

.feature-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.feature-item__icon {
    width: 71px;
    height: auto;
}
.feature-item__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.feature-item__headline {
    font-weight: 500;
    font-size: 27px;
}

.text-block__subtitle {
    font-weight: 500;
    font-size: 17px;
    color: #4F4F4F;
}

.text-block {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 485px;
    height: auto;
}

.text-block_position {
    margin-top: 160px;
}


.text-block__title {
    font-weight: bold;
    font-size: 75px;
}

.text-block__link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}
.text-block__icon {
    width: 15px;
    height: auto;
    color: #4F4F4F;
}

.price-card {
    width: 387px;
    height: 504px;
    box-shadow: 6px 6px 7px rgba(41, 41, 41, 0.12);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    transition: 0.2s;
    position: relative;
}

.price-card__top {
    height: 54%;
    position: relative;
    overflow: hidden;
}

.price-card__image {
    display: block;
    position: absolute;
    width: 100%;
}

.price-card__image > img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: 0.2s;
    border-radius: 20px 20px 0 0 ;
}

.price-card__info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-card__text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price-card__text {
    color: #292929;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    font-size: 25px;
}

.price-card__icon {
    width: 38px;
    height: auto;
    margin-right: 10px;
    margin-top: 10px;
}

.price-card__price-text {
    font-size: 35px;
}

.price-card__button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
}

.price-card__button {
    border: 2px solid #dcb47a;
    border-radius: 50px;
    color: #dcb47a;
    padding: 11px 13px;
    font-size: 20px;
    background-color: rgb(220, 180, 122, 0.2);
}

.price-card-container {
    width: 170%;
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-left: -35%;
    margin-right: -35%;
    margin-top: 30px;
}

.text-block_position2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topic_color {
    color: #081323;
}

.topic__subtitle_color {
    color: #4F4F4F;
}

.topic_position {
    margin-top: 149px;
}
.banners {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.banners_position {
    margin-top: 90px;
}

.banners__wide {
    width: 700px;
    height: 613px;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
}

.banners__blackout {
    background-color: rgba(0, 0, 0, 0.23);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.banners__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 600;
}

.banners__narrow {
    width: 429px;
    height: auto;
}

.banners_direction {
    display: flex;
    flex-direction: row-reverse;
}


.ribbon {
    background-color: #262626;
    width: 100%;
    height: 378px;
    gap: 43px;
}

.ribbon_position {
    margin-top: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ribbon__title {
    font-size: 63px;
    font-weight: 600;
}
.ribbon__title span {
    color: #DCB47A;
}

.ribbon__subtitle {
    font-size: 20px;
}

.ribbon__button {
    width: 205px;
    height: 64px;
    background-color: #DCB47A;
    border-radius: 50px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.footer_position {
    margin-top: 210px;
}

.footer__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 122px;
}

.footer__search {
    width: 463px;
    height: 71px;
}
.footer__links {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 88px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__info-title {
    font-weight: 700;
    font-size: 24px;
}

.footer__info-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: 500;
    font-size: 16px;
    max-width: 340px;
}


.footer__link {
    color: black;
    transition: color .1s linear;
}
.footer__link:hover {
    color: #dcb47a;
}

.footer__line {
    width: 1513px;
    height: 1px;
    background-color: black;
}

.footer__bottom {
    color: black;
    font-size: 24px;
}

.search_border-color {
    border-color: #878787;
}

.search__input_text-color {
    color: #878787;
}

.search__input_text-color::placeholder {
    color: #878787;
}

.search__button_style {
    width: 145px;
    height: 47px;
    background-color: #DCB47A;
    border-radius: 50px;
    margin-right: 10px;
}