body {
    font-family: "WorkSans";
    color: white;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1000px;
    color: white;
    margin: 0 auto;
}
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__logo {
    height: 30px;
    width: 30px;
}
.header__inner {
    display: flex;
    justify-content: flex-end;
}

.nav {
    color: white;
    font-size: 14px;
}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;

    transition: color .1s linear;

    padding-top: 9px;

}
.nav__link:hover {
    color: #5e5e5e;
    transition: color 0.4s ease-in-out;
}

.intro {
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(to bottom,  transparent 75%, white), url("../images/png/backround_image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.intro__inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.intro__inner_position {
}

.intro__title {
    color: #fff;
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 700;
}

.intro__subtitle {
    font-size: 1.3em;
    color: #fff;
}

.price-bubble {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price-bubble_position {
    align-items: flex-end;
    transform: translate(10%, 0%);
}


.price-bubble__window {
    position: relative;
    width: 160px;
    height: auto;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid #EAEAEA;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.price-bubble__text {
    margin-top: 5px;
    font-weight: bold;
    font-size: 30px;
}
.price-bubble__subtext {
    font-weight: bold;
    font-size: 14px;
}

/*.speech-bubble::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    bottom: -8px; !* Размер угла *!*/
/*    left: 50%;*/
/*    margin-left: -9px; !* Ширина угла *!*/
/*    border-width: 8px 8px 0 8px;*/
/*    border-style: solid;*/
/*    border-color: #ffffff transparent transparent transparent;*/
/*    background-color: rgb(255, 255, 255, 0.3);*/
/*    border-radius: 24px;*/
/*}*/

.price-bubble__washer {
    --speechBubbleWidth: 160px;
    --speechBubbleWasherCircleWidth: 40px;
    width: var(--speechBubbleWidth);
    padding-left:  calc((var(--speechBubbleWidth) - var(--speechBubbleWasherCircleWidth)) / 2);;
}

.price-bubble__circle {
    width: var(--speechBubbleWasherCircleWidth);
    height: var(--speechBubbleWasherCircleWidth);
    border: 1px solid #EAEAEA;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 50%;

    position: relative;
    display: inline-block;
}


.price-bubble__hole {
    width: 10px;
    height: 10px;
    margin: auto;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.price-bubble__washer__hole_background {
    width: 100%;
    height: 100%;
}

.price-bubble__washer__hole_position {
    position: absolute;
}


.search {
    width: 270px;
    height: auto;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff;
    border-radius: 50px;
}
.search__form {
    width: 100%;
    height: auto;
}
.search_position {
    transform: translate(140%, -480%);
}

.search__input {
    padding: 15px;
    color: white;
}

.search__input::placeholder {
    color: white;
}
.search__button {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 4px;
}



.speech-bubble {
    position: relative;
    display: inline-block;
}

.speech-bubble_position {
    transform: translate(-60%, 50%);
}

.speech-bubble__window {
    width: 260px;
    height: auto;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid #EAEAEA;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.speech-bubble__title {
    font-weight: 600;
    font-size: 25px;
}
.speech-bubble__subtitle {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: space-between;
    font-size: 14px;
    color: rgb(255, 255, 255, 0.7);
}

.speech-bubble__icon::before {
    content: url("../images/svg/star_icon.svg");
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px;
}

.speech-bubble__washer {
    width: 50px;
}

.speech-bubble__washer {
    position: absolute;
    top: -20px;
    right: -10px;
    z-index: 1;
}

.feature-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 20px;
    gap: 10px;
    color: black;
}

.feature-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.feature-item__icon {
    width: 50px;
    height: auto;
}
.feature-item__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.feature-item__headline {
    font-weight: 500;
    font-size: 24px;
}

.text-block__subtitle {
    font-weight: 500;
    font-size: 16px;
    color: #4F4F4F;
}

.text-block {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 330px;
    height: auto;
}

.text-block_position {
    margin-top: 100px;
}


.text-block__title {
    font-weight: bold;
    font-size: 60px;
}

.text-block__link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}
.text-block__icon {
    width: 15px;
    height: auto;
    color: #4F4F4F;
}

.price-card {
    width: 220px;
    min-height: 250px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    transition: 0.2s;
    position: relative;
}

.price-card__top {
    flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
    position: relative;
    overflow: hidden; /* Скрываем, что выходит за пределы */
}

.price-card__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; /* Чтобы занять всю ширину */
    bottom: 0; /* Чтобы занять всю высоту */
    padding: 0; /* Убираем возможные внутренние отступы */
    margin: 0; /* Убираем возможные внешние отступы */
    width: 100%;
}

.price-card__image > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 0.2s;
    border-radius: 20px 20px 0 0 ;
}

.price-card__info {
    height: 100px;
}